html,
body,
main {
    height: 100%;
}

body {
    background-color: rgb(159, 177, 182);
}

main {
    max-width: 960px;
    margin: 0 auto;
}

main p {
    margin: 0;
}

.card {
    background-color: white;
    padding: 20px 30px;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.2);
    display: flex;
    gap: 15px;
}

.card-img img {
    height: 100px;
    width: 100px;
}

.card-tekst {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stats {
    display: flex;
    gap: 20px;
}


