@media only screen and (max-width: 375px) {
    body {

    }

    header {

    }
    .wrapper {
       width: 360px;
       margin: 0 auto;
    }

    header img {
        height: 40px;
        margin-left: 40px;
        margin-top: 15px;
    }

    .header-line {
        flex-direction: row;
        display: flex;
    }

    .hero {
        background-image: url("https://www.w3schools.com/w3images/architect.jpg");
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .top-border {
        border-bottom: 1px solid lightgray;
    }
}