main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    gap: 10px;
}

.zalias.pirmas {
    background-color: green;
    grid-row-start: 1;
    grid-row-end: 4;
}

.zalias.antras {
    grid-column: 2 / 4;
    background-color: green;
}

.raudonas.pirmas {
    grid-column: 4;
    background-color: red;
}

.geltonas.pirmas,
.geltonas.antras {
    background-color: yellow;
}

.raudonas.antras,
.raudonas.trecias {
    background-color: red;
}

.zalias.trecias {
    background-color: green;
    grid-column: 4 ;
    grid-row: 2 / 4;
}
