body {
    background-color: rgb(82, 185, 113);
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

article {
    background-color: white;
    padding: 10px;
}

article img {
    width: 100%;
    position: relative;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

section {
    display: flex;
    justify-content: space-between;
}

div {
    padding: 15px 15px 0px;
}
